* {
    box-sizing: border-box;
    /* border: 1px solid rgba(255, 0, 0, 0.266)!important; */
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Utility Classes */

.center {
    margin: 0 auto;
}

.title {
    margin-top: 10px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px;
    padding: 0 10px;
    position: fixed;
    background: green;
    top: 0;
    left: 0;
}

header nav ul {
    display: flex;
}

header nav li {
    padding: 15px;
}

header nav li:last-child {
    padding-right: 0;
}

#nav-links {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed;
    background-color: black; */
}

#logo a {
    display: flex;
    align-items: center;
    min-height: 100%;
}

#logo a img {
    height: 50px;
    /* margin-top: 10px; */
}

.links {
    display: flex;
    align-items: center;
}

/* Hero */

#mission-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url('../images/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 20px;
    padding-top: 69px;
}

#mission-section .banner {
    width: 100%;
    background-color: black;
}

/* Tea of the Month Section */

#month-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.image-container img a {
    height: 200px;
    width: 300px;
    padding: 10px;
}

/* Locations Section */

#locations-section {
    display: flex;
    align-items: center;
    background-image: url("/resources/images/img-locations-background.jpg");
    background-repeat: none;
    background-size: cover;
    min-height: 500px;
    margin: 0 20px;
    padding-bottom: 20px;
}

.locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.location-container {
    width: 300px;
    background-color: black;
    margin: 20px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.caption {
    font-size: 18px;
    font-weight: bold;
}